name: PostgreSQL tests
on: [push]

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  Test-postgres-integration:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
        with:
          egress-policy: audit
          allowed-endpoints: >
            api.github.com:443
            codecov.io:443
            github.com:443
            go.dev:443
            golang.org:443
            proxy.golang.org:443
            storage.googleapis.com:443
            uploader.codecov.io:443

      - name: Check out repository code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version: '1.21'

      - name: Build
        run: go build -v ./...

      - name: Test
        env:
          LIBSCHEMA_POSTGRES_TEST_DSN: "postgres://postgres:postgres@localhost?sslmode=disable"
        run: go test ./lspostgres/... -v

      - name: Run Coverage
        env:
          LIBSCHEMA_POSTGRES_TEST_DSN: "postgres://postgres:postgres@localhost?sslmode=disable"
        run: go test -coverprofile=coverage.txt -covermode=atomic -coverpkg=github.com/muir/libschema/... ./lspostgres/... 

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          verbose: true
          fail_ci_if_error: true
          flags: pg_tests
          name: pg_tests
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
