name: SingleStore tests
on: [ push ]

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  Test-Singlestore-integration:
    runs-on: ubuntu-latest

    environment: singlestore

    services:
      singlestoredb:
        image: ghcr.io/singlestore-labs/singlestoredb-dev
        ports:
          - 3306:3306
          - 8080:8080
          - 9000:9000
        env:
          ROOT_PASSWORD: test
          SINGLESTORE_LICENSE: ${{ secrets.SINGLESTORE_LICENSE }}

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@03bee3930647ebbf994244c21ddbc0d4933aab4f
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: sanity check using mysql client
        run: |
          mysql -u root -ptest -e "CREATE DATABASE libschematest" -h 127.0.0.1

      - name: Check out repository code
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3

      - name: Set up Go
        uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9
        with:
          go-version: 1.16

      - name: Build
        run: go build -v ./...

      - name: Test
        env:
          LIBSCHEMA_SINGLESTORE_TEST_DSN: "root:test@tcp(127.0.0.1:3306)/libschematest?tls=false"
        run: go test ./lsmysql/... ./lssinglestore/... -v

      - name: Run Coverage
        env:
          LIBSCHEMA_SINGLESTORE_TEST_DSN: "root:test@tcp(127.0.0.1:3306)/libschematest?tls=false"
        run: go test -coverprofile=coverage.txt -covermode=atomic -coverpkg=github.com/muir/libschema/... ./lsmysql/... ./lssinglestore/...  

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@40a12dcee2df644d47232dde008099a3e9e4f865
        with:
          verbose: true
          flags: singlestore_tests
          fail_ci_if_error: true

